{
	"token": "Your discord bot token",
	"prefix": "!",
	"erela": {
		"host": "localhost",
		"password": "youshallnotpass",
		"port": 2333
	  },
	"spotify": {
		"clientId": "Your spotify client Id",
		"clientSecret": "Your spotify client secret"
	}
}
